In [ ]:
import numpy as np

In [ ]:
today=np.datetime64('today', 'D') 
print("today:" ,today)

In [ ]:
one_day =np.timedelta64(1, 'D')
one_day

In [ ]:
two_days=np.timedelta64(2, 'D')
two_days

In [ ]:
yesterday= today-one_day
print("Yestraday: ",yesterday)

In [ ]:
day_before_yesterday=today-two_days
print("day before yesterday: ",day_before_yesterday)

In [ ]:
tomorrow  = today + one_day
print("Tomorrow: ",tomorrow)

In [ ]:
day_after_tomorrow= today + two_days
print("day after tomorrow: ",day_after_tomorrow)

In [ ]:
print("July, 1987")
print(np.arange('1987-07', '1987-08', dtype='datetime64[D]'))

In [ ]:
print("Number of days, February, 2020: ")
print(np.datetime64('2020-03-01') - np.datetime64('2020-02-01'))

In [ ]:
import datetime
start = datetime.datetime(2020, 6, 3)
for i in range(24):
  dt_array = np.array([start + datetime.timedelta(hours=i) ])
  print(dt_array)

In [ ]:
print("First Sunday in May 2020:")
print(np.busday_offset('2020-01', 0, roll='forward', weekmask='Sun'))

In [ ]:
print("Number of weekdays in February 2020:")
print(np.busday_count('2020-02', '2020-03'))