# arange operation in Numpy

In [ ]:
import numpy as np

In [ ]:
np.arange(0,10)

In [ ]:
np.arange(0,11,2)

In [ ]:
np.zeros(3)

In [ ]:
np.ones(3)

In [ ]:
np.linspace(0,10,4)

In [ ]:
np.linspace(0,10,50)

In [ ]:
np.linspace(0,1,20)

In [ ]:
np.eye(4)

In [ ]:
np.random.rand(2)

In [ ]:
np.random.rand(5,5)

In [ ]:
np.random.randint(1,100)

In [ ]:
np.random.randint(1,100,10)

In [ ]:
np.arange(9).reshape(3,3)

In [ ]:
np.arange(1,101).reshape(10,10)/100

In [ ]:
arr=np.arange(25)
arr

In [ ]:
arr.shape

In [ ]:
arr.max()

In [ ]:
arr.min()

In [ ]:
arr.reshape(1,25)

In [ ]:
arr.reshape(25,1)

In [ ]:
# We are create a sequence of even integers from 10 to 1
A = np.arange(10, 1, -2)
print(A)

In [ ]:
A = np.arange(10) 
print(A)

In [ ]:
# We are taking specified array element
A[-7:5:1]

In [ ]:
# We are taking specified array element
A[3:6]

In [ ]:
array = np.arange(40)

#Prints the array
array

In [ ]:
array.reshape(5,8)

In [ ]:
random_array = np.random.randint(0,50,20)
random_array

In [ ]:
random_array.max()

In [ ]:
random_array.min()

In [ ]:
#Return the index of the maximum value in an array
random_array.argmax()

In [ ]:
#Return the index of the minimum value in an array
random_array.argmin()

In [ ]:
x = np.random.normal(size=10)
print(x)

In [ ]:
x = np.random.randint(low=100, high=300, size=10)
print(x)

In [ ]:
x = np.random.random((3,4,4))
print(x)

In [ ]:
x = np.random.random((3,3))
print("Original Array:")
print(x)

In [ ]:
x.sort()
print("Sorted array:")
print(x)

In [ ]:
amin, amax = x.min(), x.max()
print("Minimum and Maximum Values:")
print(amin, amax)

In [ ]:
x = (x - amin)/(amax - amin)
print("After normalization:")
print(x)

In [ ]:
x = np.random.rand(7, 4)
print("Original array: ")
print(x)

In [ ]:
y= x[:3, :]
print("First 3 rows of the above array:")
print(y)

In [ ]:
y= x[:, :3]
print("First 3 column of the above array:")
print(y)

In [ ]:
x = np.arange(15)
np.random.shuffle(x)
print(x)

In [ ]:
print("Same result using permutation():")
print(np.random.permutation(15))

In [ ]:
x = np.random.randint(0, 100, 50)
print("Original array:")
print(x)
print("Most frequent value in the above array:")
print(np.bincount(x).argmax())

In [ ]:
import numpy as np
array1 = [0, 1, 6, 1, 4, 1, 2, 2,9, 7, 8, 9] 
print("Original array:")
print(array1)
print("Number of occurrences of each value in array: ")
print(np.bincount(array1))